.heroSection{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 80vh;
}

#logoBig{
    max-width: none;
    z-index: -2;
    position: absolute;
    width: 638px;
    height: 638px;
    top: 90px;
    left: -250px;
    opacity: 5%;
}

.actionButton{
    line-height: 50px;
    text-align: center;
    width: 193px;
    height: 50px;
    border-radius: 339px;
    background-color: #444444;
    border: 3px solid white;
    color: white;
    margin-bottom: 20px;
}

.heroWriting{
    max-height: 507px;
    margin-top: -40px;
    margin-right:   60px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.heroWriting h1 br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: -140px; /* change this to whatever height you want it */
}

.heroWriting h1{
    margin-top: -30px;
    margin-bottom: 70px;
    display: block;
    margin-top: 20px;
    font-size: 50px;
    letter-spacing: 1px;
    line-height: 200px;
}

.heroWriting p{
    margin-top: 0px;
}

.heroImages {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center images horizontally */
    justify-content: flex-start; /* Align images to the top */
    z-index: -1;
    height: 638px;
    overflow: hidden;
}

.carouselImage {
    width: 90%;
    max-width: 467.29px;
    margin-top: 20px;
    border-radius: 25px;
    transition: margin-top 1s ease; /* Smooth transition for movement */
}

.carouselImage.first {
    margin-top: -200px; /* Adjust if necessary */
}

@media only screen and (max-width:860px) {
    .carouselImage{
        transition: none;
    }

    .carouselImage.first{
        margin-top: 0px;
    }
}

@media only screen and (max-width:860px) {
    .heroSection{
        height: fit-content;
        flex-direction: column;
    }
    .heroImages{
        height: fit-content;
    }
}

/* LOCATIONS */

.locationsSection{
    background-color: #292929;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.locationsSection h2{
    text-align: center;
    font-size: 50px;
}

.mapImage{
    width: 636px;
    border-radius: 32px;
}

.locationContent{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.locationContent p{
    width: 272px;
}

/* SPECIALTIES */

.specialtiesSection{
    width: 100%;
    height: fit-content;
}

.specialties{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 90%;
}

.specialtiesContent{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.specialtiesContent p{
    font-size: 32px;
    max-width: 267px;
    width: 90%;
    text-align: center;
}

.specialty{
    width: 120px;
    margin-right: 10px;
}

.specialtiesImages, .specialtiesTitles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 22px;
}

.specialtiesImages img{
    width: 140px;
    height: 140px;
    border-radius: 32px;
}

/* CONTACT */

.contactSection{
    width: 100%;
    height: 343px;
    background-color: #292929;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactSection h3{
    margin-top: 83px;
    font-size: 40px;
}

.contactSection p{
    width: 90%;
    font-size: 25px;
    text-align: center;
}