@font-face {
    font-family: 'League Spartan';
    src: url('../assets/LeagueSpartan-Thin.woff2') format('woff2'),
        url('../assets/LeagueSpartan-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

body{
    overflow-x: hidden;
    font-family: 'League Spartan';
    margin: 0px;
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    color: rgb(187, 187, 187);
    cursor: pointer;
}


/* NAVBAR */

.navBar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(30, 30, 30);
    height: 80px;
}

#logoSmall{
    margin-left: 15px;
    width: 50px;
    height: 50px;
}

.navHead{
    display: flex;
    width: 50%;
    align-items: flex-start;
}

.navHead p{
    padding-left: 20px;
}

.pages{
    margin-right: 15px;
    display: flex;
    float: right;
    align-items: flex-end;
}

.pages a{
    padding: 10px;
}

/* HAMBURGER MAGIC */

#hamburger-icon {
    margin: auto 0;
    position: absolute;
    top: 30px;
    right: 10px;
    display: none;
    cursor: pointer
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    right: 0; /* When open, it's in view */
}

.mobile-menu {
    position: fixed;
    top: 45px; /* Adjust according to your header height */
    right: -110%; /* Starts from the right out of the view */
    width: 100%;
    background-color: black;
    z-index: 6;
    display: flex; /* Always show, but out of view when not "open" */
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px; /* Add some padding if you like */
    max-height: 130px; /* Control height here */
    overflow: hidden; /* Allow scrolling if content is more than the height */
}

@media only screen and (max-width:600px) {
    #hamburger-icon{
        display: block;
    }
    .pages{
        display: none;
    }
}

/* FOOTER */

.footerSection{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerText{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}

.insta{
    width: 30px;
    height: 30px;

}

.titles{
    width: 100%;
    line-height: 1px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: 50px;
}

.titles p{
    width: 220px;
    line-height: 20px;
    margin-bottom: -10px;
}